.custom-modal-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  z-index: 1000;
}


.custom-modal {
  background-color: #fff;
  padding: 20px;
  max-width: 90%;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  position: relative;
}

.custom-modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;

  .modal-title {
    color: var(--color-black);
    font-weight: bold;
  }
}

.close-modal-btn {
  background-color: transparent;
  border: none;
  color: var(--color-primary);
  font-size: 40px;
  cursor: pointer;

  &:hover {
    color: red;
  }
}


.custom-modal-body {
}