.signIn_container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: var(--color-white);

}

.signin-card {
  margin: 0 auto;
  background: var(--color-white);
  border-radius: 20px;
  width: 65%;
  max-width: 800px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  box-shadow: 0 -6px 16px rgba(0, 0, 0, 0.08), /* top */
  0 6px 16px rgba(0, 0, 0, 0.12), /* bottom */
  6px 0 16px rgba(0, 0, 0, 0.08), /* right */
  -6px 0 16px rgba(0, 0, 0, 0.08); /* left */

  .image {
    border-radius: 20px;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  .image .img {
    width: 100%;
    height: auto;
    object-fit: cover;
    display: block;
  }
}

.signin-content {
  flex: 1 1 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: left;

  .signin-title {
    font-size: 25px;
    color: var(--color-primary);
    font-weight: 600;
    text-align: center;
    width: 100%;
  }

  .signin-form {
    width: 100%;
    margin: 15px 0;

    .signin-label {
      font-size: 15px;
      font-weight: 600;
      color: var(--color-gray);
    }

    .signin-input {
      font-size: 16px;
      font-weight: 500;
      border-radius: 6px;
    }

    .signin-btn {
      width: 100%;
    }
  }

  .forgot-pass-signup-link {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .forgot-password, .signup-link {
      font-size: 15px;
      font-weight: 600;
      text-decoration: underline;
      color: var(--color-primary);
    }

    .already-account {
      font-size: 15px;
      font-weight: 600;
      color: var(--color-primary);
    }
  }
}

@media (min-width: 780px) {
  .signin-card {
    width: 85%;
    flex-direction: row;
    align-items: stretch;

    .image {
      width: 45%;
      height: auto;

      .img {
        height: 100%;
        object-fit: cover;
      }
    }
  }


  .signin-card .signin-content {
    align-items: flex-start;
  }
}

@media (max-width: 779px) and (min-width: 501px) {
  .signin-card {
    flex-direction: column;
    width: 70%;
    border-radius: 10px;

    .image {
      width: 100%;
      height: 250px;
      border-radius: 10px;

      .img {
        height: 100%;
        border-radius: 10px;
      }
    }
  }
}

@media (max-width: 500px) {
  .signin-card {
    width: 95%;
    border-radius: 10px;

    .image {
      height: 200px;
      border-radius: 10px;

      .img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
      }
    }
  }
}

