.product-wrapper {
  padding: 20px;
}

.top-bar {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;

  .add-product-btn {
    background-color: #007bff;
    color: white;
    padding: 10px 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s ease;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.product-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.product {
  background: var(--color-white);
  border: 1px solid var(--color-eee);
  border-radius: 12px;
  box-shadow: 0 2px 10px var(--color-box-shadow);
  width: 250px;
  text-align: center;
  transition: all 0.3s ease;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 5px 15px var(--color-box-shadow-dark);
  }

  .product-img {
    width: 250px;
    height: 150px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    vertical-align: middle;
  }

  .product-name {
    margin: 10px 0 5px;
    font-size: 16px;
    color: #333;
    text-transform: capitalize;
  }
}